---
const navTitle = 'Navigation';
---

<span>{navTitle}</span>
<nav>
    <a href="/course-astro/">Home Page</a>
    <a href="/course-astro/about">About Page</a>
    <a href="/course-astro/contact">Contact Page</a>
</nav>
<hr>
